<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="APP" value="elasticsearch"/>
        <Property name="LOG_DIR" value="./logs"/>
        <Property name="SPLIT_SIZE" value="100MB"/>
        <Property name="LOG_PATTERN" value="%d{HH:mm:ss.SSS} [%t] %level %logger{36}:%L @_@ %msg%n"/>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="InfoLog" fileName="${LOG_DIR}/${APP}-info.log"
                     filePattern="${LOG_DIR}/${APP}-info-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <!--interval属性用来指定多久滚动一次，默认是1， 单位到底是月 天 小时 分钟，根据filePattern配置的日期格式而定，本处的格式为天，则默认为1天-->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!--按大小分-->
                <SizeBasedTriggeringPolicy size="${SPLIT_SIZE}"/>
            </Policies>

            <Filters>
                <!-- 只记录error级别信息 -->
                <ThresholdFilter level="info" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>

        <RollingFile name="ErrorLog" fileName="${LOG_DIR}/${APP}-error.log"
                     filePattern="${LOG_DIR}/${APP}-error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <!--interval属性用来指定多久滚动一次，默认是1， 单位到底是月 天 小时 分钟，根据filePattern配置的日期格式而定，本处的格式为天，则默认为1天-->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!--按大小分-->
                <SizeBasedTriggeringPolicy size="${SPLIT_SIZE}"/>
            </Policies>
            <Filters>
                <!-- 只记录error级别信息 -->
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
        <RollingFile name="DebugLog" fileName="${LOG_DIR}/${APP}-debug.log"
                     filePattern="${LOG_DIR}/${APP}-debug-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <!--interval 属性用来指定多久滚动一次，默认是1， 单位到底是月 天 小时 分钟，根据filePattern配置的日期格式而定，本处的格式为天，则默认为1天-->
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <!--按大小分-->
                <SizeBasedTriggeringPolicy size="${SPLIT_SIZE}"/>
            </Policies>
            <Filters>
                <!-- 只记录 debug 级别信息 -->
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
            </Filters>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.example" level="debug"/>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <!--            <AppenderRef ref="ErrorLog"/>-->
            <!--            <AppenderRef ref="InfoLog"/>-->
            <AppenderRef ref="DebugLog"/>
        </Root>
    </Loggers>
</Configuration>